*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-ser;
}

/* make some globle color variables */

:root{
    --dk-voilet:hsl(268,75%,9%);
    --it-voilet:hsl(268,47%,21%);
    --it-voilet2:hsl(281,89%,26%);
    --vb-voilet:hsl(285,91%,52%);
    --vb-voilet2:hsl(290,70%,36%);

    --vb-yellow:hsl(52,100%,62%);

    --pl-white:hsl(0,0%,100%);

    --vb-cyan:hsl(176,100%,44%);
    --vb-cyan2:hsl(177,92%,70%);
    

    --dk-text:hsl(198,20%,13%);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    background: linear-gradient(151deg,lightgreen,lightyellow,lightpink,aqua,red);
}

.container{
    width: 90%;
    max-width: 450px;
}

h1{
    /* color: var(--pl-white); */
    /* opacity: 0.75; */
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.display-container{
    position: relative;  /*bwcause aage ja kr kuch ispe overlap krana h*/
    background-color: var(--dk-voilet);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--it-voilet2);
    margin: 1rem 0;;
    padding-top:0.35rem ;
}

/*for display of password & copy section*/
.display{
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border: none;
}

.display::placeholder{
    position: absolute;  /*ye displaycontainer pe overlap ho jayega isliye absolute*/
    top: 50%; 
    left: 1.5rem;
    line-height: 30px;
    font-size: 1.5rem;
    color: var(--vb-yellow);
    opacity: 0.65;
    transform: translateY(-50%);  /*y-dir me uper ho jayega*/
}

.display-container button{
    position: absolute;  /*ye displaycontainer pe overlap ho jayega isliye absolute*/
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);  /*y-dir me uper ho jayega*/

}

.input-container{
    width: 100%;
    background-color: var(--dk-voilet);
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid var(--it-voilet2);
}
.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1) {
    color: var(--pl-white);
    font-size: 1.5rem;
}

.length-container p:nth-child(2) {
    color: var(--vb-yellow);
    font-size: 1.5rem;
}

.strenght-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strenght-container p{
    color: var(--pl-white);
    font-size: 1.5rem;
}

.gola{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;

}

.generateButton{
    width: 100%;
    padding: 1rem 0;
    background-color: var(--it-voilet2);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.25rem;
}

/* checkboxes*/

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    appearance: none;   /*default style of checkbox is removed ab hm apni style lgayenge*/
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-cyan);
    cursor: pointer;
    position: relative;   /*because bad me ispe ek tickmark lana h .. jo absolute position pe hoga*/
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: var(--vb-cyan2);
}

.check input:checked:checked::before{
    content: '✔';
    position: absolute;
    color: var(--dk-text);
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: -3.5px;
    transform: translateX(-50%);
}

.check label{
    color: var(--pl-white);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

/*slider*/
.slider{
    appearance: none;
    width: 100%;
    height: 0.65rem;
    cursor: pointer;
    background-color: var(--vb-cyan);
    border-radius: 1rem;
    margin-top: 0.5rem;
    /* margin-bottom: 1rem; */
    background-image: linear-gradient(var(--vb-voilet),var(--vb-voilet));
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50%;
    background-color: var(--vb-yellow);
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(225,229,61,0.50);
    transition: all 100ms ease-in;
}

.slider:focus{
    outline: 2.5px solid var(--vb-yellow);
}
.slider.slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-voilet);
    box-shadow: 0px 0px 20px 0px rgba(225,229,61,0.50);
}

/*copy button*/
.copybtn{
    background: transparent;
    border: none;
    outline: none;
}

.showcopy{
    background-color: aqua;
    border-radius: 1rem;
    font-size: 1.15rem;
    opacity: 0;
    transform: scale(0);
    transform-origin:bottom ;
    transition: all 250ms ease-in-out;
}
.showcopy.active{
    opacity: 1;
    transform: scale(1);
}